.music {
  width: 100%;
  min-height: 100vh;
  
  padding-top: 56px;

  > div:first-child {
    display: flex;
    flex-direction: row;
    padding: 10px 16px;
    align-items: center;
    border: 1px solid #ddd;
    
    i {
      font-size: 20px;
      padding: 5px;
    }

    p {
      margin: 0;
    }

    form {
      width: 100%;

      input {
        border: none;
        outline: none;
        width: 50%;
        padding-left: 10px;
      }
    }
  }
}