@import './variables.scss';

.nav {
    .navLink {
        text-decoration: none;
        padding: 5px 10px;
        color: #777777;
    }

    .navLink:hover {
        color: black;
    }

    .activeNavLink {
        color: black;
    }
}