.login {
  padding-top: 100px;
  height: 100vh;
  display: flex;
  flex-direction: row;
  width: 100%;

  > div:first-child {
    width: 40%;
  }

  > div:last-child {
    width: 60%;
  }

  .imageLogin {
    position: fixed;
    top: 0;
    left: 40%;
    z-index: -2;
    width: 100%;
  }

  h1 {
    text-align: center;
    font-family: 'Balsamiq Sans', cursive;;
  }

  @media (max-width: 768px) {
    .imageLogin {
      display: none;
    }

    > div:first-child {
      width: 100%;

      input, label {
        width: 50%;
      }
    }
  }

  @media (max-width: 768px) {
    > div:first-child {
      width: 100%;

      input, label {
        width: 80%;
      }
    }
  }
}